<!DOCTYPE html>
<html>
    <head>
            <title>Warriors of Magic</title>
            <link rel="stylesheet" href="{{ asset('game/style/layout.css') }}">
    </head>
   <body>
        <h3>Warriors of Magic</h3>
        <div id='content'>
        {% if showMenu == '1' %}    
        <div id='menu'>
            <ul>
                <li><a href="{{ path('wargame_profile') }}">Profile</a></li>
                <li><a href="{{ path('wargame_warArea') }}">War Arena</a></li>
                <li><a href="{{ path('wargame_attackShop') }}">Attack Shop</a></li>
                <li><a href="{{ path('wargame_healingShop') }}">Healing Shop</a></li>
                <li><a href="{{ path('wargame_createMonster') }}">Create Monster</a></li>
                <li><a href="{{ path('wargame_createAttack') }}">Create Attack</a></li>
                <li><a href="{{ path('wargame_do_logout') }}">Logout</a></li>
            </ul>
        </div>
        {% endif %}
        {% block body %}{% endblock %}
        </div>
    </body>
    {% block javascripts %}
        <script src="{{ asset('game/js/jquery.js') }}"></script>
        <script>
            $("input.numbers").keypress(function(event) {
                return (/\d/.test(String.fromCharCode(event.which) ))
            });
            //$('input.numbers').live('keyup', function(e) {
            //    $(this).val($(this).val().replace(/[^0-9]/g, ''));
            //});
        </script>
    {% endblock %}
</html>
